@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #102640;
    color:white;
}

#tentacles {
    width: 50px;
}

#srchBar
{
    background-color: #272b36;
    color:white;
    position:absolute;
    top:3%;
    right: .5%;
    display: block;
    text-align: left;
    padding: 14px;
    width:25%;
    border-radius: 7px;
}

#srchBar::placeholder
{
    color:white;
}

.header {
    display: flex;
    color:#102640;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    height: 190px;
    display: flex;
    flex-direction: row;
}

.stats-card:hover
{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: lightblue;
    color: #102640;
    border-radius: 7px;
    margin: 1%;
    width: 100%;
    height:auto;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 40px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #ffffff;
    color:black;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    background-color: gold;
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}
button:hover
{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#walkThru
{
   width: 20%;
   height: auto;
   margin-left: 40%;
   margin-right:40%;
}

#walkThru:hover
{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}